/*text style*/
* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #d1e4c8;
  --gray: #cecdc8;
  --black: #333333;
  --white: #f8f4ee;
}
a {
  color: var(--black);
  text-decoration: none;
}
header {
  width: 100%;
  background-color: var(--white);
  padding: 2rem 5rem;
}

.site-nav {
  width: 100%;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-left {
  margin-right: auto;
}
.logo {
  width: 11rem;
  height: auto;
  display: block;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.nav-right a {
  font-size: 0.9rem;
}

/* .shopping-cart {
  width: 1,4rem;
  height: auto;
  display: block;
} */

html,
body {
  height: 100%;
}

/*Body*/
body {
  font-family: Avenir, sans-serif;
  background: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: column;
}

/*Navbar*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
}

nav a {
  margin: 0 20px;
  color: var(--black);
  font-size: 14px;
}

/*Main*/
main {
  text-align: center;
  padding: 60px 20px;
  letter-spacing: 1px;
  flex: 1;
}
.shopping-cart {
  width: 2.5rem;
  max-width: 2.5rem;
  height: auto;
  display: block;
  object-fit: contain;
}
/*Cart Item*/
.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.product-image img {
  width: 260px;
  border-radius: 20px;
}

.product-info {
  text-align: left;
}

.product-info h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 18px;
  margin-bottom: 10px;
}

/*Quantity*/
.quantity-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.quantity-buttons button {
  background-color: var(--green);
  border: none;
  padding: 6px 12px;
  margin: 0 4 px;
  border-radius: 6px;
  cursor: pointer;
}

/*Total*/
.cart-total {
  margin: 40px 0;
}

.cart-total h2 {
  font-size: 24px;
}

.cart-container {
  max-width: 900px;
  margin: auto;
}

.cart-title {
  font-weight: 700;
}

/*Buttons*/
.cart-actions {
  margin: 20px;
}

.cart-actions button,
.checkout-btn,
.continue-shopping-btn {
  background-color: var(--green);
  border: none;
  padding: 1rem 1.875rem;
  margin: 0.625rem 1.25rem;
  margin-top: 1.5rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  cursor: pointer;
  align-items: center;
}

.cart-btns {
  display: inline-block;
  gap: 0.625rem;
  margin-top: 3rem;
}

.cart-total {
  display: inline-block;
}

/*Footer*/
footer {
  width: 100%;
  background-color: var(--green);
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-top: 80px;
}

.footer-links p {
  font-size: 8px;
  margin: 0.25rem 0;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links a {
  font-size: 0.75rem;
  line-height: 1.2;
  display: block;
}

.footer-links li {
  margin: 0rem;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  width: 12rem;
  height: auto;
  margin-bottom: 0.6rem;
}

.footer-bottom {
  text-align: center;
  margin-top: auto;
  font-size: 0.5rem;
  color: var(--black);
}

/*Responsive*/
@media (max-width: 768) {
  .cart-item {
    flex-direction: column;
    text-align: center;
  }

  .product-info {
    text-align: center;
  }

  header {
    flex-direction: column;
    gap: 20px;
  }
}
